yarn.lock
yarn-error.log
dist/
ver2/
CNAME
LICENSE
netlify.toml
*.sh
*.snap
*.md
.gitignore
.npmignore
.prettierignore
.DS_Store
.editorconfig
.eslintignore
**/*.yml
src/icons/svg/
public/**/*
env.js
